.navbar.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

.genre-btn{
  background-color:#5367bb;
  color: #fdcb6e;
  font-family: borisna;
  padding: 0.5em 1.5em;
  margin: 1%;
  border: none;
  font-weight: 800;
  border-radius: 5px;
}